mixin newcluster()
    .newClusterKids
        .section-title
            h2 <i>Aproveite</i> as ofertas
        .newCluster
            .flexBox
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/infantil/selecao-tudo-por-ate-69/")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeKids_AllTypes_D1L" 
                        data-name="KD192266-NA-BRZ4V-TudPorAteRS69" 
                        data-slot="1"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p até <span>R$</span>
                            p <span><b>69<sup>*</sup></b></span>
                
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/infantil/selecao-tudo-por-ate-99")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeKids_AllTypes_D1L" 
                        data-name="KD192267-NA-BRZ4V-TudPorAteRS99" 
                        data-slot="2"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p até <span>R$</span>
                            p <span><b>99<sup>*</sup></b></span>
                
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/infantil/selecao-tudo-a-partir-de")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="Homekids_AllTypes_D1L" 
                        data-name="KD192268-NA-BRZ4V-TudPartDeRS99" 
                        data-slot="3"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p a partir de <span>R$</span>
                            p <span><b>99<sup>*</sup></b></span>


    .newClusterMasc
        .section-title
            h2 <i>Aproveite</i> as ofertas
        .newCluster
            .flexBox
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/masculino/selecao-tudo-ate-99")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeMasc_AllTypes_D1L" 
                        data-name="161003932-NA-BRZ4V-TudAteRS99" 
                        data-slot="1"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p até <span>R$</span>
                            p <span><b>99<sup>*</sup></b></span>
                
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/masculino/selecao-tudo-ate-199")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeMasc_AllTypes_D1L" 
                        data-name="161003933-NA-BRZ4V-TudAteRS199" 
                        data-slot="2"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p até <span>R$</span>
                            p <span><b>199<sup>*</sup></b></span>
                
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/masculino/selecao-tudo-a-partir-de")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeMasc_AllTypes_D1L" 
                        data-name="161003934-NA-BRZ4V-TudPartDeRS199" 
                        data-slot="3"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p a partir de <span>R$</span>
                            p <span><b>199<sup>*</sup></b></span>


    .newClusterFem
        .section-title
            h2 <i>Aproveite</i> as ofertas
        .newCluster
            .flexBox
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/feminino/selecao-ate-99")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeFem_AllTypes_D1L" 
                        data-name="170004002-NA-BRZ4V-TudAteRS99" 
                        data-slot="1"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p até <span>R$</span>
                            p <span><b>99<sup>*</sup></b></span>
                
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/feminino/selecao-ate-199")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeFem_AllTypes_D1L" 
                        data-name="170004003-NA-BRZ4V-TudAteRS199" 
                        data-slot="2"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p até <span>R$</span>
                            p <span><b>199<sup>*</sup></b></span>
                
                a.btn_ga_click(href="https://www.dafiti.com.br/promocao/feminino/selecao-a-partir-de-199")
                    img.img_ga_view(
                        src="", 
                        alt="" 
                        data-creative="HomeFem_AllTypes_D1L" 
                        data-name="170004004-NA-BRZ4V-TudPartDeRS199" 
                        data-slot="3"
                    )
                    .border-bw-shadow
                    .box
                        .boxTxt
                            p a partir de <span>R$</span>
                            p <span><b>199<sup>*</sup></b></span>
